img {
  float: right;
  margin-left: 2em;
  margin-bottom: 2ex;
}

p {
  text-align: justify;
}

table {
  margin-top: 2ex;
}

.class-name {
  font-weight: bold;
}

.page-section {
  margin-top: 2ex;
}

address {
  font-style: normal;
}
